*~
/x86_64/
/mod_qos-*/
*.rpm
*.log
/mod_qos-10.16.tar.gz
/mod_qos-10.24.tar.gz
/mod_qos-11.5.tar.gz
/mod_qos-11.6.tar.gz
/mod_qos-11.7.tar.gz
/mod_qos-11.9.tar.gz
/mod_qos-11.11.tar.gz
/mod_qos-11.12.tar.gz
/mod_qos-11.13.tar.gz
/mod_qos-11.14.tar.gz
/mod_qos-11.15.tar.gz
/mod_qos-11.16.tar.gz
/mod_qos-11.17.tar.gz
/mod_qos-11.18.tar.gz
/mod_qos-11.19.tar.gz
/mod_qos-11.21.tar.gz
/mod_qos-11.22.tar.gz
/mod_qos-11.24.tar.gz
/mod_qos-11.26.tar.gz
/mod_qos-11.29.tar.gz
/mod_qos-11.30.tar.gz
/mod_qos-11.31.tar.gz
